.main_panel {
  position: fixed;
  height: 960px;
  width: 306px;
  background: #4E5C65;
  z-index: 100;
}

.logo {
  display: flex;
  position: relative;
  height: 42px;
  width: 210px;
  background: #8D9CA6;
  border-radius: 18px;
  margin-left: 48px;
  margin-right: 48px;
  font-family: 'Inter';
  margin-top: 39px;
  font-size: 20px;
  font-weight: 400;
  justify-content: center;
  align-items: center;
}
